/* OSCARS */
/*...Oscars Section */
.oscars {
  position: relative;
  display: flex;
  margin: 0px auto 450px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .logoscars {
    position: absolute;
    width: 279px;
    height: 129px;
    top: 130px;
    left: 950px;
  }
  .blocImgText {
    position: absolute;
    background-image: url("../assets/images/orangeOscars.png");
    background-repeat: no-repeat;
    padding-top: 29px;
    top: 100px;
    left: 150px;
    max-width: 100%;
    height: 370px;
  }
  .txt-oscars {
    text-align: left;
    font-size: 40px;
    line-height: 1.2;
    /*...Add flowers Oscars Section */
    &::before {
      content: url("../assets/images/Sunflower.png");
      position: absolute;
      left: -40px;
      bottom: 80%;
      max-width: 100%;
      height: auto;
    }
    &::after {
      content: url("../assets/images/orchid.png");
      position: absolute;
      left: 1205px;
      bottom: 320px;
      max-width: 100%;
      height: auto;
    }
  }
}
/*...Delete Flowers Footer before & after */
.site-footer {
  &::before,
  &::after {
  display: none;
  }
}

/* FADE-IN */
/*...Defined Fade-In Animation SectionS */
/*...FadeInUp */
#characters, .story, #place, #studio, #oscars {
  opacity: 0;
  animation: FadeInUp 3s forwards;
}
@keyframes FadeInUp {
  from {
    opacity: 0;
    transform: translateY(400px);
  } 
  to {
    opacity: 1;
    transform: translateY(0);  
  }
}
/*...FadeInDown */
@keyframes FadeInDown {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }  
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

/* FLOWERS */
/*...Rotate Flowers */
@keyframes RotateFlowers {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*...Flowers Section */
.story__article::after,
.story h2::after,
#studio h2::before,
#studio h2::after,
.txt-oscars::before,
.txt-oscars::after,
ul::after {
  animation: RotateFlowers 3s linear infinite;
}
/*...Leaf Scroll*/
@keyframes ScrollFeuille {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
div::before {
  animation: ScrollFeuille 3s linear infinite;
}

/* FADE Title */
/*... BackG */
@keyframes FadeBackGTitle {
  from {
      background-position : 0 300px;
      opacity: 0;
  }
  to {
      background-position: 0 0;
      opacity: 1;
  }
}
/*... Animate Title 1, 2, 3 et 4 */
@keyframes AnimTitle {
  0% {
    transform : translateY(60px)
  }
  100% {
    transform: translateY(0);
  }
}
/*... Title Section */
.TitleFade {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
}
.observ {
  opacity: 1;
  transform: translateY(0);
  transition: transform 2s, opacity 1s;
}
.observ:nth-child(1) {
  animation: AnimTitle 0.7s ease-in-out forwards;
}
.observ:nth-child(2) {
  animation: AnimTitle 0.4s ease-in-out forwards;
  animation-delay: 0.4s;
}

/* Swiper */
/*... General Swiper Style */
.mySwiper {
  width: 1200px;
  display: flex;
  justify-content: left;  
  .swiper-slide img {
    opacity: 0;
    transition-duration: 800ms;
    transform: translate3d(10px, 0px, -15px) rotateX(0deg) rotateY(0deg) scale(1); 
    }
  .swiper-slide-visible img {
    opacity: 1;
    }
  }
  .titlePerso {
    padding: 1.5rem 2rem !important;
  }
  h3 {
    background-position: left !important;
    text-align: left !important;
  }

/* Clouds */
/*... Add BackG Place */
.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");
  overflow: hidden;
}
/*... Clouds Position */
.clouds {
  position: absolute;
  filter: blur(13px);
  right: 115px;
  top: 65px;
  .bigCloud {
    height: 122px;
  }
  .littleCloud {
    margin-left: -200px;
    margin-top: 65px;
    height: 55px;
  }
}

/* BANNER */
/*... Logo Position */
.banner {
  position: relative;
  animation: backGimGD 3s, fadeIn 3.5s;
  &Video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &Img {
    position: sticky;
    top: 80px;
    z-index: 12;
    opacity: 1;
    animation: textImgUp 2s 300ms both, floatIng 5s infinite ease-in-out;
  }
  .textImgUp {
    animation: textImgUp 2s 300ms both;
  }
}
/*... Keyframes Banner */
@keyframes backGimGD {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes textImgUp {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floatIng {
  0% {
    transform: translate3d(8px,8px,0);
  }
  13% {
    transform: translate3d(0px,8px,0);
  }
  25% {
    transform: translate3d(8px,-6px,0);
  }
  35% {
    transform: translate3d(8px,0px,0);
  }
  46% {
    transform: translate3d(-6px,-8px,0);
  }
  60% {
    transform: translate3d(0px,-6px,0);
  }
  73% {
    transform: translate3d(-10px,8px,0);
  }
  85% {
    transform: translate3d(-6px,0px,0);
  }
  100% {
    transform: translate3d(8px,8px,0); 
  }
}

/* MENU */
/*... Animation Menu Lines "X" when active */
.main-navigation {
  background-color: #ffd5a2;
  display: flex;
  width: 100%;

  .site-title {
    display: flex !important;
    align-items: center;
    margin-left: 38%;
    &:hover {
      color: black;
    }
  }}
/*... Position Toggle */
 .menuToggle {
  width: 110px;
  height: 65px;
  position: absolute;
  cursor: pointer;
  margin-left: 87%;
  margin-top: 25px;
  &.active {
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:nth-child(1) {
      transform: translateY(9px) rotate(50deg);
    }
    .line:nth-child(3) {
      transform: translateY(-9px) rotate(-50deg);
    }
  }
  /*... Line */
  .line {
    display: block;
    background: black;
    width: 45px !important;
    height: 3px !important;
    margin: 6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
 }
.menuNav,
  .menuLogo,
  .menuFlowers,
  .menuCats,
  .menuFooter {
    position: fixed;
    top: 980px;
    left: 0;
    flex-direction: column;
    background-color: #fff5e9;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    pointer-events: none;
    &.active {
      left: 0;
      top: 80px;
    }
  }
  .menuSection {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .linkNav {
    font-size: 56px;
    transition: 0.7s ease;
    pointer-events: auto;
    &:hover {
      color: black;
      text-shadow: 0 0 10px #ffa885 ;
      transition: opacity 0.3s;
    }
  }
  .menuLogo {
    display: flex;
    align-items: center;
    .logoNav {
      width: 200px;
      height: auto;
    }
  }
  
/* Animation */
/*... Animation Flowers */
.orchid, .Sunflower, .flower, .random, .Hibiscus {
  position: absolute;
  animation: RotateFlowers 18s linear infinite;
  height: auto;
  .orchid {
    top: 50px;
    left: 12%;
    width: 150px;
  }
  .Sunflower {
    top: 60px;
    left: 7%;
    width: 200px;
  }
  .flower {
    top: 320px;
    left: 23%;
    width: 50px;
  }
  .random {
    top: 250px;
    left: 43%;
    width: 50px;
  }
  .Hibiscus {
    top: 350px;
    left: 12%;
    width: 50px;
  }
}
/*... Animation Cat */
.black, .blue, .orange {
  position: absolute;
  height: auto;
}
  .black {
    top: 390px;
    left: 75%;
    width: 130px;
    animation: floatCatBlack 3s 2s infinite ease-in-out;
  }
  .blue {
    top: 170px;
    left: 24%;
    width: 120px;
    animation: floatCatBlue 3s 2s infinite ease-in-out;
  }
  .orange {
    top: 610px;
    left: 10%;
    width: 115px;
    animation: floatCatOrange 3s 2s infinite ease-in-out;
  }

  @keyframes floatCatBlack {
    0% {
      transform: translate3d(15px, 8px, 0);
    }
    15% {
      transform: translate3d(1px, -17px, 0);
    }
    40% {
      transform: translate3d(5px, 2px, 0);
    }
    70% {
      transform: translate3d(8px, -12px, 0);
    }
    80% {
      transform: translate3d(4px, 2px, 0);
    }
    100% {
      transform: translate3d(15px, 8px, 0);
    }
  }
  @keyframes floatCatBlue {
    0% {
      transform: translate3d(-5px, 10px, 0);
    }
    15% {
      transform: translate3d(8px, -7px, 0);
    }
    50% {
      transform: translate3d(-5px, 2px, 0);
    }
    70% {
      transform: translate3d(8px, -12px, 0);
    }
    100% {
      transform: translate3d(-5px, 10px, 0);
    }
  }
  @keyframes floatCatOrange {
    0% {
      transform: translate3d(3px, 6px, 0);
    }
    15% {
      transform: translate3d(-7px, -14px, 0);
    }
    70% {
      transform: translate3d(-12px, 0px, 0);
    }
    100% {
      transform: translate3d(5px, 10px, 0);
    }
  }